<!-- src/views/landing.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Horror History: IA</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");
      .texto {
        font-family: "Jolly Lodger", cursive;
        letter-spacing: 1px;
      }

      .image-background {
        background-image: url("/assets/fondo.png");
        background-position: center;
        background-size: cover;
      }

      .btn-blood {
        font-size: 20px;
        min-width: 120px;
        background-color: rgba(156, 0, 1, 0.8);
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
      }

      .btn-blood::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 0, 0, 0.5);
        transform: skewX(-30deg);
        transition: left 0.3s;
        z-index: -1;
      }

      .btn-blood:hover::before {
        left: 100%;
      }

      .form-input {
        min-width: 250px;
        max-width: 320px;
        background-color: rgba(150, 150, 150, 0.5);
        color: white;
        font-size: 20px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        justify-content: center;
      }

      .form-label {
        font-size: 24px;
        text-align: center;
        color: whitesmoke;
        margin-bottom: 15px;
      }

      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #bbbbbb !important;
        opacity: 1; /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #bbbbbb !important;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #bbbbbb !important;
      }

      .transitionable {
        transition: all ease 1s;
      }

      .ojo-gif {
        height: 150px;
        width: 150px;
        object-fit: contain;
        object-position: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      .centered {
        margin-left: auto;
        margin-right: auto;
      }

      .card-content {
        max-width: 900px;
        padding-top: 0px;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(77, 77, 77, 0.6);
        border-radius: 10px;
      }

      .card-response {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body class="image-background">
    <div
      id="dismiss-div"
      class="flex flex-col items-center justify-center h-screen transitionable bg-black"
    >
      <h1 class="text-4xl font-bold text-white texto">
        ¿Estas listo para descubrir tus mayores temores?
      </h1>
    </div>
    <div id="display-div" class="flex flex-col items-center justify-center h-screen transitionable" style="opacity: 0; display: none;">
      <form class="shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <img src="/assets/ojo.gif" class="ojo-gif" />
        <!-- Miedo -->
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2 text-white texto form-label"
            for="miedo"
          >
            ¿Existe alguna fobia o temor que te paralice del miedo?
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline texto form-input"
            id="miedo"
            type="text"
            placeholder="Ingresa tu respuesta"
          />
        </div>
        <!-- Ansiedad -->
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2 text-white texto form-label"
            for="ansiedad"
          >
            ¿Hay alguna situación o escenario que te cause una ansiedad
            imparable?
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline texto form-input"
            id="ansiedad"
            type="text"
            placeholder="Ingresa tu respuesta"
          />
        </div>
        <!-- Objeto -->
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2 text-white texto form-label"
            for="objeto"
          >
            ¿Cuál es el objeto, animal o evento que más te aterra?
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline texto form-input"
            id="objeto"
            type="text"
            placeholder="Ingresa tu respuesta"
          />
        </div>

        <div class="flex items-center justify-end centered">
          <button
            id="loginButton"
            class="btn-blood hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline centered texto"
            type="button"
            onclick="handleSubmit()"
          >
            Descubre tu historia
          </button>
        </div>
      </form>
    </div>

    <!-- Elemento de MODAL ERROR -->
    <div
      id="errorModal"
      class="fixed inset-0 flex items-center justify-center z-50 hidden"
    >
      <div
        class="bg-gray-800 bg-opacity-75 flex flex-col items-center justify-center p-4 rounded"
      >
        <h2 class="text-white text-2xl font-bold mb-4 texto">Error</h2>
        <p class="text-white text-lg" id="errorMessage"></p>
        <button id="closeModalButton" class="btn-blood mt-4">Cerrar</button>
      </div>
    </div>
    <!-- Elemento de respuesta -->
    <div class="card-response">
      <div class="card-content">
        <div id="responseContainer" class="mt-4 text-center text-white texto" style="font-size: 20px;"></div>
      </div>
    </div>
    <!-- Elemento de imagen de respuesta -->
    <img
      id="responseImage"
      src=""
      alt=""
      class="mt-4 mx-auto"
      style="max-width: 100%"
    />

    <!-- Elemento de carga y mensaje -->
    <div
      id="loadingContainer"
      class="flex items-center justify-center h-screen fixed inset-0 bg-gray-900 bg-opacity-50"
    >
      <div class="flex items-center bg-white rounded-lg p-5">
        <div class="mr-3">
          <div
            class="animate-spin rounded-full h-8 w-8 border-b-2 border-red-900"
          ></div>
        </div>
        <div class="text-gray-900 texto">Escribiendo tu historia...</div>
      </div>
    </div>

    <script>
      window.onload = (event) => {
        const dismiss = document.getElementById("dismiss-div");
        const display = document.getElementById("display-div");
        const loadingContainer = document.getElementById("loadingContainer");
        loadingContainer.style.display = "none";

        setTimeout(() => {
          dismiss.style.opacity = 0;
          setTimeout(() => {
            dismiss.style.display = 'none';
            display.style.display = 'flex';
            setTimeout(() => {
              display.style.opacity = 1;
            }, 200);
          }, 1000);
        }, 2000);
      };

      function showErrorModal(message) {
        const modal = document.getElementById("errorModal");
        const errorMessage = document.getElementById("errorMessage");
        const closeModalButton = document.getElementById("closeModalButton");

        errorMessage.textContent = message;
        modal.classList.remove("hidden");

        closeModalButton.addEventListener("click", function () {
          modal.classList.add("hidden");
        });
      }

      function handleSubmit() {
        const loadingContainer = document.getElementById("loadingContainer");
        const responseContainer = document.getElementById("responseContainer");
        responseContainer.innerText = ""; // Limpiar el contenido del contenedor de respuesta

        // Mostrar el elemento de carga
        loadingContainer.style.display = "flex";
        const miedo = document.getElementById("miedo").value;
        const ansiedad = document.getElementById("ansiedad").value;
        const objeto = document.getElementById("objeto").value;

        fetch(`/openia/sendToChatGPT`, {
          method: "POST",
          body: JSON.stringify({
            miedo,
            ansiedad,
            objeto,
          }),
          headers: {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
          },
        })
          .then(function (response) {
            console.log(response);
            if (response.ok) {
              return response.json();
            } else {
              showErrorModal(
                "Al parecer aún no estas listo para descubrir esta historia, intenta de nuevo"
              );
            }
          })
          .then((data) => {
            console.log("data: ", data);
            loadingContainer.style.display = "none";
            responseContainer.innerText = data.text;
          })
          .catch(function (error) {
            console.error(error);
            loadingContainer.style.display = "none";
            showErrorModal(
              "Al parecer aún no estas listo para descubrir esta historia, intenta de nuevo"
            );
          });

        fetch(`/openia/generateImg`, {
          method: "POST",
          body: JSON.stringify({
            miedo,
            ansiedad,
            objeto,
          }),
          headers: {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
          },
        })
          .then(function (response) {
            console.log(response);
            if (response.ok) {
              return response.json();
            } else {
              showErrorModal(
                "Al parecer aún no estas listo para descubrir esta historia, intenta de nuevo"
              );
            }
          })
          .then((data) => {
            console.log("data image: ", data);
            const responseImage = document.getElementById("responseImage");
            responseImage.setAttribute("src", data.url);
          })
          .catch(function (error) {
            console.error(error);
            loadingContainer.style.display = "none";
            showErrorModal(
              "Al parecer aún no estas listo para descubrir esta historia, intenta de nuevo"
            );
          });
      }
    </script>
  </body>
</html>
