<!-- src/views/login.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Inicio de sesión</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
      .texto {
        font-family: 'Jolly Lodger', cursive;
        letter-spacing: 1px;
      }

      /* Estilos personalizados */
      body {
        background-color: black;
      }

      .bg-dark {
        background-color: #222;
      }

      .btn-blood {
        font-size: 20px;
        min-width: 120px;
        background-color: rgba(156, 0, 1, 0.8);
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
      }

      .btn-blood::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 0, 0, 0.5);
        transform: skewX(-30deg);
        transition: left 0.3s;
        z-index: -1;
      }

      .btn-blood:hover::before {
        left: 100%;
      }

      .centered {
        margin-left: auto;
        margin-right: auto;
      }

      .image-background {
        background-image: url('/assets/fondo.png');
        background-position: center;
        background-size: cover;
      }

      .ojo-gif {
        height: 150px;
        width: 150px;
        object-fit: contain;
        object-position: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      .form-input {
        min-width: 250px;
        background-color: rgba(150, 150, 150, 0.5);
        color: white;
        font-size: 20px;
      }

      .form-label {
        font-size: 24px;
        text-align: center;
        color: whitesmoke;
      }

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #bbbbbb !important;
        opacity: 1; /* Firefox */
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #bbbbbb !important;
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
        color: #bbbbbb !important;
      }
    </style>
  </head>
  <body class="image-background">
    <div class="flex items-center justify-center h-screen">
      <form class="shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <img src="/assets/ojo.gif" class="ojo-gif">
        <!-- Usuario -->
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2 text-white texto form-label"
            for="username"
          >
            Usuario
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline texto form-input"
            id="username"
            type="text"
            placeholder="Ingrese su nombre de usuario"
          />
        </div>
        <!-- Contraseña -->
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2 text-white texto form-label"
            for="password"
          >
            Contraseña
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 mb-3 leading-tight focus:outline-none focus:shadow-outline texto form-input"
            id="password"
            type="password"
            placeholder="Ingrese su contraseña"
          />
          <!-- <p class="text-red-500 text-xs italic">
            Ingrese una contraseña válida.
          </p> -->
        </div>
        <!-- Botón -->
        <div class="flex items-center justify-between centered">
          <button
            id="loginButton"
            class="btn-blood hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline centered texto"
            type="button"
            onclick="handleLogin()"
          >
            Entrar
          </button>
        </div>
      </form>
    </div>
    <script>
        // Función para manejar el inicio de sesión
        function handleLogin() {
          // Obtén los valores de los campos de entrada
          const username = document.getElementById("username").value;
          const password = document.getElementById("password").value;
  
          // Realiza la solicitud de inicio de sesión al endpoint
          // Aquí puedes llamar a la función o método que realiza la lógica de inicio de sesión en el controlador UserController
  
          // Por ejemplo, si estás utilizando Express y la ruta '/user/login' está configurada para el controlador UserController.login
          fetch("/auth/register", {
            method: "POST",
            // Agrega las opciones de la solicitud, como el cuerpo con los datos de inicio de sesión
            body: JSON.stringify({
              username: username,
              password: password,
            }),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then(function (response) {
                console.log(response)
                window.location.href = "/ia";
            })
            .catch(function (error) {
              // Maneja los errores de la solicitud
              console.error(error);

              // Redirige a una página de inicio de sesión fallida o muestra un mensaje de error
              // ...
            });
        }
      </script>
  </body>
</html>
